*{
    padding: 0px;
    margin: 0px;
}
.topbar{
    background-color: brown;
    height: 90px;
}
.container1{
    margin: 0px;
    padding : 0px;
    width: 100%;
}
#logo{
    margin: 20px;
    vertical-align: middle;
}
.main{
    display: block;
    margin: 350px;
    margin-bottom: 30px;
    margin-top: 25px ;
}
.fa{
    font-size: 20px;
    text-align: center!important;
}
