<div class="container">
    <!-- <form> -->
    <input type="textarea" *ngIf="singleNote" [(ngModel)]="singleNote.text" required value={{singleNote.text}}
        id="input" placeholder="Write Notes here">

    <!-- <input type="textarea" *ngIf="!singleNote" [(ngModel)]="noteText" required value={{noteText}} id="input"
        placeholder="Write Notes heres"> -->
    <span style="color:red" *ngIf="singleNote.text.length > 50">
        Only 50 Characters are allowed
    </span>
    <br>
    <span style="color:red" *ngIf="singleNote.text.length<=0">
        required
    </span>
    <br>
    <button *ngIf="singleNote.id==note.length" [disabled]="!singleNote.text" class="btn btn-primary"
        (click)="addNotes()">create</button>
    <button *ngIf="singleNote.id!=note.length" [disabled]="!singleNote.text" class="btn btn-primary"
        (click)="editNotes()">update</button>
    <!-- </form> -->
</div>